<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Santa</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <player speed="20" jump_force="8" />
  
  <file_system>
    <path>data.zip</path>
  </file_system>

 <gui>
    <atlas file="gui/atlas.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
  </map>

</config>